<!DOCTYPE html>
<html>
<head>
    <title>Human Element Survey</title>
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="stylesheets/sweetalert2.min.css" type="text/css" media="screen"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="stylesheets/jquery.dataTables.min.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 
    <link rel="stylesheet" href="stylesheets/bootstrap-slider.css" type="text/css" media="screen"/>
    <link rel="icon" type="image/png" href="images/tab_logo.png"> 
    <script type="text/javascript" charset="utf-8" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="javascripts/client.js"></script>
    <script type="text/javascript" charset="utf-8" src="javascripts/sweetalert2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="javascripts/notify.min.js"></script> 
    <script type="text/javascript" charset="utf-8" src="javascripts/bootstrap-slider.js"></script>
    <script type="text/javascript" charset="utf-8" src="javascripts/jquery.dataTables.min.js"></script>




<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>

    <style type="text/css">
        body {
          background-color:#fff;
          /*background-color:#36a1d5;*/
          -webkit-font-smoothing: antialiased;
          font: normal 14px sans-serif;
      }

    .block{
        background: #36a1d5; /* Old browsers */
        background: -moz-linear-gradient(top, #36a1d5 0%, #3073b4 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #36a1d5 0%,#3073b4 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #36a1d5 0%,#3073b4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36a1d5', endColorstr='#3073b4',GradientType=0 );
        padding: 10px 20px 30px 20px;
    }
    .block-center {
        max-width: 420px;
        margin: 0 auto;
        width: 100%;
    }

    .button {
      display: inline-block;
      border: none;
      color: #333;
      text-decoration: none;
      background-color: #fdfdfd;
      padding: 15px 25px;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      text-align: center;
      position: relative;
      outline: none;
      -webkit-transition: background-color .1s ease;
      -o-transition: background-color .1s ease;
      transition: background-color .1s ease;
      border-bottom: 4px solid #ccc;
  }

  .button::after {
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: #434343;
    opacity: .28;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    left: 0; 
    border-bottom: 4px solid #ccc;
  }

    .button:focus, .button:hover {
        text-decoration: none;
        color: #fff; 
        border-bottom: 4px solid #10215F;
    }

    .button:hover {
        background-color: #015383;
        border-bottom: 4px solid #10215F; 
    }

    .button:hover::after {
      opacity: .22; 
  }

  .button:active {
    background-color: #f8bf50;
}

.button:active::after {
  opacity: .32; 
}

p{
    font-size: 30px;
    text-align: center;
    /*color: white;*/
    color: #2196f3;
    margin: 24px 0;
    font-family: "Roboto",arial,sans-serif;
}
.wrapper {
    text-align: center;
}

.slider{
  top: 30;
}

.slider.slider-horizontal{
  width: 500px;
  height: 20px;
}

.slider-tick-label{
  color: white;
}

</style>
</head>
<body onload="check()">
  <div id = "mainPage" class="main">
      <div class="block-center">
        <img src="images/logo_white.png" style="margin-top: 10%; margin-left: 20%" />
          <p style="color:#ED5127;margin-bottom: 10%">Human Element Survey</p>
      </div>
      <form id = "humanElement" enctype='multipart/form-data'>
      <div style="margin: 15; margin-left: 100px;">
        <div class="form-group">
          <!-- My Persona -->
            <label style="color: #2196f3;" for="head_main_persona"><h4><b>MY PERSONA</b></h4></label>
            <br />
            <label style="margin-left: 20; margin-top: 0" for="head_sub_persona"><i>What is your mix?</i></label>
            <br />
            <label style="margin-left: 40;" for="head_ques_persona">If you have not already taken Revel’s personality quiz to get your climber / dreamer / purist mix (or you have forgotten your mix), you can find the quiz </label>
            <a href="http://revelconsulting.com/test/persona/" role="button"><i><b>Here</b></i></a>
            <br />
            <br />
            <div class="col-xs-2">
              <label style="color: #2196f3;" for="climber">Climber (0-100%)</label>
              <input type=number min=0 max=100 class="form-control" id="personality_Climber">
              <br />
              <label style="color: #2196f3;" for="dreamer">Dreamer (0-100%)</label>
              <input type=number min=0 max=100 class="form-control" id="personality_Dreamer">
              <br />
              <label style="color: #2196f3;" for="purist">Purist (0-100%)</label>
              <input type=number min=0 max=100 class="form-control" id="personality_Purist">
            </div>

            <br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br />

          <!-- My Satisfaction -->
            <label style="color: #2196f3;" for="head_main_satisfaction"><h4><b>MY SATISFACTION</b></h4></label>
            <br />
            <label style="margin-left: 20;" for="head_ques_satisfaction">How are you? Please enter where you derive satisfaction, on a scale from 1-5, where 5 is highest and 1 is lowest:</label>
            <br />
            <br />
            <div class="col-xs-2">
              <label style="color: #2196f3;" for="self">Self (1-5)</label>
                <center><select class="select form-control" id="satisfaction_Self">
                   <option value="1">
                    1
                   </option>
                   <option value="2">
                    2
                   </option>
                   <option value="3">
                    3
                   </option>
                   <option value="4">
                    4
                   </option>
                   <option value="5">
                    5
                   </option>
            </select></center>
              <br />
              <label style="color: #2196f3;" for="project">Project (1-5)</label>
                              <center><select class="select form-control" id = "satisfaction_Project">
                   <option value="1">
                    1
                   </option>
                   <option value="2">
                    2
                   </option>
                   <option value="3">
                    3
                   </option>
                   <option value="4">
                    4
                   </option>
                   <option value="5">
                    5
                   </option>
            </select></center>
              <br />
              <label style="color: #2196f3;" for="client">Client (1-5)</label>
              <center><select class="select form-control" id = "satisfaction_Client">
                   <option value="1">
                    1
                   </option>
                   <option value="2">
                    2
                   </option>
                   <option value="3">
                    3
                   </option>
                   <option value="4">
                    4
                   </option>
                   <option value="5">
                    5
                   </option>
            </select></center>
              <br />
              <label style="color: #2196f3;" for="community">Community (1-5)</label>
                <center><select class="select form-control" id="satisfaction_Community">
                   <option value="1">
                    1
                   </option>
                   <option value="2">
                    2
                   </option>
                   <option value="3">
                    3
                   </option>
                   <option value="4">
                    4
                   </option>
                   <option value="5">
                    5
                   </option>
            </select></center>
              <br />
              <label style="color: #2196f3;" for="revel">Revel (1-5)</label>
                <center><select class="select form-control" id="satisfaction_Revel">
                   <option value="1">
                    1
                   </option>
                   <option value="2">
                    2
                   </option>
                   <option value="3">
                    3
                   </option>
                   <option value="4">
                    4
                   </option>
                   <option value="5">
                    5
                   </option>
            </select></center>
              <br />
              <label style="color: #2196f3;" for="career">Career (1-5)</label>
                <center><select class="select form-control" id="satisfaction_Career">
                   <option value="1">
                    1
                   </option>
                   <option value="2">
                    2
                   </option>
                   <option value="3">
                    3
                   </option>
                   <option value="4">
                    4
                   </option>
                   <option value="5">
                    5
                   </option>
            </select></center>
            </div>

            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br />

          <!-- My Goal -->
            <label style="color: #2196f3;" for="head_main_goal"><h4><b>MY GOAL</b></h4></label>
            <br />
            <label style="margin-left: 40;" for="head_ques_goal">What is your long-term vision of success? Who do you want to be? Where do you want to grow?</label>
            <br />
            <br />
            <div class="col-xs-4">
              <textarea class="form-control" rows="5" id="My Goals"></textarea>
            </div>

            <br /><br /><br /><br /><br /><br /><br /><br />

          <!-- My Win -->
            <label style="color: #2196f3;" for="head_main_win"><h4><b>MY WINS</b></h4></label>
            <br />
            <label style="margin-left: 40;" for="head_ques_win">What are you most proud of accomplishing?</label>
            <br />
            <br />
            <div class="col-xs-4">
              <textarea class="form-control" rows="5" id="My Wins"></textarea>
            </div>

            <br /><br /><br /><br /><br /><br /><br /><br />

          <!-- My Loses -->
            <label style="color: #2196f3;" for="head_main_loss"><h4><b>MY LOSES</b></h4></label>
            <br />
            <label style="margin-left: 40;" for="head_ques_loss">What did you try that didn’t work out?</label>
            <br />
            <br />
            <div class="col-xs-4">
              <textarea class="form-control" rows="5" id="My Losses"></textarea>
            </div>

            <br /><br /><br /><br /><br /><br /><br /><br />
          
          <!-- My Personal Brand -->
            <label style="color: #2196f3;" for="head_main_brand"><h4><b>MY PERSONAL BRAND</b></h4></label>
            <br />
            <label style="margin-left: 40;" for="head_ques_brand">What is your unique value proposition?</label>
            <br />
            <br />
            <div class="col-xs-4">
              <textarea class="form-control" rows="5" id="My Personal Brand"></textarea>
            </div>

            <br /><br /><br /><br /><br /><br /><br /><br />

          <!-- My Habits -->
            <label style="color: #2196f3;" for="head_main_brand"><h4><b>MY HABITS</b></h4></label>
            <br />
            <label style="margin-left: 40;" for="head_ques_brand">Where do you fall on the following spectrums?</label>
            <br />
            <br />
            <label style="color: #2196f3; width: 75px;" for="chameleon">Chameleon</label>
            <input class='form-control' id="habit_Chameleon to Peacock" type="text"
              data-provide="slider"
              data-slider-ticks="[1, 2, 3, 4, 5]"
              data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
              data-slider-min="1"
              data-slider-max="5"
              data-slider-step="1"
              data-slider-value="1"
              data-slider-tooltip="hide" />
            <label style="color: #2196f3;" for="peacock">Peacock</label>
            <br /> <br /> <br />
            <label style="color: #2196f3; width: 75px;" for="gatherer">Gatherer</label>
            <input class='form-control' id="habit_Gatherer to Hunter" type="text"
              data-provide="slider"
              data-slider-ticks="[1, 2, 3, 4, 5]"
              data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
              data-slider-min="1"
              data-slider-max="5"
              data-slider-step="1"
              data-slider-value="1"
              data-slider-tooltip="hide" />
            <label style="color: #2196f3;" for="hunter">Hunter</label>
            <br /> <br /> <br />
            <label style="color: #2196f3; width: 75px;" for="ambiguity">Ambiguity</label>
            <input class='form-control' id="habit_Ambiguity to Structure" type="text"
              data-provide="slider"
              data-slider-ticks="[1, 2, 3, 4, 5]"
              data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
              data-slider-min="1"
              data-slider-max="5"
              data-slider-step="1"
              data-slider-value="1"
              data-slider-tooltip="hide" />
            <label style="color: #2196f3;" for="structure">Structure</label>
            <br /> <br /> <br />
            <label style="color: #2196f3; width: 75px;" for="introvert">Introvert</label>
            <input class='form-control' id="habit_Introvert to Extrovert" type="text"
              data-provide="slider"
              data-slider-ticks="[1, 2, 3, 4, 5]"
              data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
              data-slider-min="1"
              data-slider-max="5"
              data-slider-step="1"
              data-slider-value="1"
              data-slider-tooltip="hide" />
            <label style="color: #2196f3;" for="extrovert">Extrovert</label>
            <br /> <br /> <br />
            <label style="color: #2196f3; width: 75px;" for="morning_lark">Morning Lark</label>
            <input class='form-control' id="habit_Morning Lark to Night Owl" type="text"
              data-provide="slider"
              data-slider-ticks="[1, 2, 3, 4, 5]"
              data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
              data-slider-min="1"
              data-slider-max="5"
              data-slider-step="1"
              data-slider-value="1"
              data-slider-tooltip="hide" />
            <label style="color: #2196f3;" for="night_owl">Night Owl</label>
            <br /> <br /> <br />
            <label style="color: #2196f3; width: 75px;" for="evolution">Evolution</label>
            <input class='form-control' id="habit_Evolution to Revolution" type="text"
              data-provide="slider"
              data-slider-ticks="[1, 2, 3, 4, 5]"
              data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
              data-slider-min="1"
              data-slider-max="5"
              data-slider-step="1"
              data-slider-value="1"
              data-slider-tooltip="hide" />
            <label style="color: #2196f3;" for="revolution">Revolution</label>
            <br /> <br /> <br />
            <label style="color: #2196f3; width: 75px;" for="script">Script</label>
            <input class='form-control' id="habit_Script to Improv" type="text"
              data-provide="slider"
              data-slider-ticks="[1, 2, 3, 4, 5]"
              data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
              data-slider-min="1"
              data-slider-max="5"
              data-slider-step="1"
              data-slider-value="1"
              data-slider-tooltip="hide" />
            <label style="color: #2196f3;" for="improve">Improve</label>
            <br /> <br /> <br />
            <label style="color: #2196f3; width: 75px;" for="think">Think</label>
            <input class='form-control' id="habit_Think to Do" type="text"
              data-provide="slider"
              data-slider-ticks="[1, 2, 3, 4, 5]"
              data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
              data-slider-min="1"
              data-slider-max="5"
              data-slider-step="1"
              data-slider-value="1"
              data-slider-tooltip="hide" />
            <label style="color: #2196f3;" for="do">Do</label>
            <br /> <br /> <br />
            <label style="color: #2196f3; width: 75px;" for="build">Build</label>
            <input class='form-control' id="habit_Build to Improve" type="text"
              data-provide="slider"
              data-slider-ticks="[1, 2, 3, 4, 5]"
              data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
              data-slider-min="1"
              data-slider-max="5"
              data-slider-step="1"
              data-slider-value="1"
              data-slider-tooltip="hide" />
            <label style="color: #2196f3;" for="improve">Improve</label>
            <br /><br /><br /><br /><br /><br />
          <!-- My Motivation -->
            <label style="color: #2196f3;" for="head_main_motivation"><h4><b>MY MOTIVATION</b></h4></label>
            <br />
            <label style="margin-left: 40;" for="head_ques_motivation">How would you stack rank the following?</label>
            <br />
            <br />
            <div class="col-xs-2">
              <label style="color: #2196f3;" for="advancement">Advancement</label>
              <select class="form-control" id="motivation_Advancement">
                <option>1st</option>
                <option>2nd</option>
                <option>3rd</option>
                <option>4th</option>
                <option>5th</option>
                <option>6th</option>
                <option>7th</option>
                <option>8th</option>
                <option>9th</option>
                <option>10th</option>
              </select>
              <br />
              <label style="color: #2196f3;" for="autonomy">Autonomy</label>
              <select class="form-control" id="motivation_Autonomy">
                <option>2nd</option>
                <option>3rd</option>
                <option>4th</option>
                <option>5th</option>
                <option>6th</option>
                <option>7th</option>
                <option>8th</option>
                <option>9th</option>
                <option>10th</option>
                <option>1st</option>
              </select>
              <br />
              <label style="color: #2196f3;" for="work_life_balance">Work/Life Balance</label>
              <select class="form-control" id="motivation_Work/Life Balance">
                <option>3rd</option>
                <option>4th</option>
                <option>5th</option>
                <option>6th</option>
                <option>7th</option>
                <option>8th</option>
                <option>9th</option>
                <option>10th</option>
                <option>1st</option>
                <option>2nd</option>
              </select>
              <br />
              <label style="color: #2196f3;" for="influencing">Influencing</label>
              <select class="form-control" id="motivation_Influencing">
                <option>4th</option>
                <option>5th</option>
                <option>6th</option>
                <option>7th</option>
                <option>8th</option>
                <option>9th</option>
                <option>10th</option>
                <option>1st</option>
                <option>2nd</option>
                <option>3rd</option>
              </select>
              <br />
              <label style="color: #2196f3;" for="mastery">Mastery</label>
              <select class="form-control" id="motivation_Mastery">
                <option>5th</option>
                <option>6th</option>
                <option>7th</option>
                <option>8th</option>
                <option>9th</option>
                <option>10th</option>
                <option>1st</option>
                <option>2nd</option>
                <option>3rd</option>
                <option>4th</option>

              </select>
              <br />
              <label style="color: #2196f3;" for="money">Money</label>
              <select class="form-control" id="motivation_Money">
                <option>6th</option>
                <option>7th</option>
                <option>8th</option>
                <option>9th</option>
                <option>10th</option>
                <option>1st</option>
                <option>2nd</option>
                <option>3rd</option>
                <option>4th</option>
                <option>5th</option>
              </select>
              <br />
              <label style="color: #2196f3;" for="praise">Praise</label>
              <select class="form-control" id="motivation_Praise">
                <option>7th</option>
                <option>8th</option>
                <option>9th</option>
                <option>10th</option>
                <option>1st</option>
                <option>2nd</option>
                <option>3rd</option>
                <option>4th</option>
                <option>5th</option>
                <option>6th</option>
              </select>
              <br />
              <label style="color: #2196f3;" for="problem_solving">Problem-Solving</label>
              <select class="form-control" id="motivation_Problem">
                <option>8th</option>
                <option>9th</option>
                <option>10th</option>
                <option>1st</option>
                <option>2nd</option>
                <option>3rd</option>
                <option>4th</option>
                <option>5th</option>
                <option>6th</option>
                <option>7th</option>
              </select>
              <br />
              <label style="color: #2196f3;" for="purpose">Purpose</label>
              <select class="form-control" id="motivation_Purpose">
                <option>9th</option>
                <option>10th</option>
                <option>1st</option>
                <option>2nd</option>
                <option>3rd</option>
                <option>4th</option>
                <option>5th</option>
                <option>6th</option>
                <option>7th</option>
                <option>8th</option>
              </select>
              <br />
              <label style="color: #2196f3;" for="relationships">Relationships</label>
              <select class="form-control" id="motivation_Relationships">
                <option>10th</option>
                <option>1st</option>
                <option>2nd</option>
                <option>3rd</option>
                <option>4th</option>
                <option>5th</option>
                <option>6th</option>
                <option>7th</option>
                <option>8th</option>
                <option>9th</option>
              </select>
              <br /><br /><br />
              <div id="human_add_button">
                <button onclick="addHumanElement(); return false;" style="margin-bottom: 55px;">Submit</button>
              </div>
              <div id="human_update_button" hidden>
                <button onclick="updateHumanElement(); return false;" style="margin-bottom: 55px;">Update</button>
              </div>
            </div>
        </div>
      </div>
  
      </form>
  </div>
  
</body>

</html>
